<nz-page-header class="site-page-header" nzTitle="Machinery Reporting">
  <nz-page-header-extra>
    <a routerLink="/main/dashboard"
      ><button nz-button class="btncls">Back</button>
    </a></nz-page-header-extra
  >
</nz-page-header>

<div nz-row nzGutter="10" class="feedRow001" style="margin-bottom: 20px">
  <div nz-col class="ant-col-grid-5">
    <nz-card class="dashboard-card">
      <a routerLink="/main/machinery-report/daily-report">
        <p>
          <img
            alt="example"
            src="assets/images/Card_Daily report_Machinery.svg"
          />
        </p>
        <h4>Daily Report</h4>
        <p>
          Daily reporting operating parameters of various equipment and
          machinery
        </p>
      </a>
    </nz-card>
  </div>
  <div nz-col class="ant-col-grid-5">
    <nz-card class="dashboard-card">
      <a routerLink="/main/machinery-report/weekly-report">
        <p>
          <img
            alt="example"
            src="assets/images/Card_Weekly report_Machinery.svg"
          />
        </p>
        <h4>Weekly Report</h4>
        <p>Weekly reporting of various checks and inspections</p>
      </a>
    </nz-card>
  </div>
  <div nz-col class="ant-col-grid-5">
    <nz-card class="dashboard-card">
      <a routerLink="/main/machinery-report/monthly-report">
        <p>
          <img
            alt="example"
            src="assets/images/Card_Monthly report_Machinery.svg"
          />
        </p>
        <h4>Monthly Report</h4>
        <p>Monthly reporting of various checks and inspections</p>
      </a>
    </nz-card>
  </div>
  <div nz-col class="ant-col-grid-5">
    <nz-card class="dashboard-card">
      <a routerLink="/main/machinery-report/half-yearly-report">
        <p>
          <img
            alt="example"
            src="assets/images/Card_Half year report_Machinery.svg"
          />
        </p>
        <h4>Half Yearly Report</h4>
        <p>Half yearly reporting of various checks and inspections</p>
      </a>
    </nz-card>
  </div>
  <div nz-col class="ant-col-grid-5">
    <nz-card class="dashboard-card">
      <a routerLink="/main/machinery-report/annually-report">
        <p>
          <img
            alt="example"
            src="assets/images/Card_Annually report_Machinery.svg"
          />
        </p>
        <h4>Annual Report</h4>
        <p>Yearly reporting of various checks and inspections</p>
      </a>
    </nz-card>
  </div>
</div>
