<nz-page-header
  class="site-page-header"
  [nzTitle]="
    idForUpdate
      ? 'Daily Report - Manoeuvring  [Edit]'
      : 'Daily Report - Manoeuvring  [New]'
  "
>
  <nz-page-header-extra>
    <button
      nz-button
      nzType="primary"
      [nzLoading]="buttonLoading"
      class="btncls"
      (click)="submit()"
    >
      Save
    </button>
    <a routerLink="/main/machinery-report/daily-report-dashboard"
      ><button nz-button class="btncls">Back</button></a
    >
  </nz-page-header-extra>
</nz-page-header>

<form
  class="noonForm dailyReport"
  nz-form
  [formGroup]="addUpdateDailyReportReportForm"
>
  <div nz-row [nzGutter]="16">
    <div nz-col class="gutter-row" [nzMd]="24" [nzSm]="24">
      <nz-card nzTitle="Time Period" class="card-box-sm">
        <div nz-col nzSpan="24" class="chart-title">
          <div nz-row nzGutter="10" nzJustify="space-between">
            <span
              class="card_badge"
              style="
                margin-top: -73px;
                margin-right: -24px;
                background-color: #a6a6a6;
              "
              >Man.
            </span>
          </div>
        </div>
        <div nz-row [nzGutter]="16">
          <div
            nz-col
            class="gutter-row"
            [nzMd]="7"
            [nzSm]="24"
            style="padding-right: 0px !important"
          >
            <nz-form-item>
              <nz-form-label [nzMd]="13" [nzSm]="24" nzFor="vesselName"
                >Start date & time
              </nz-form-label>

              <nz-form-control
                [nzMd]="11"
                [nzSm]="24"
                nzErrorTip=""
                style="padding-left: 12px"
              >
                <nz-date-picker
                  style="width: 100%"
                  nzFormat="dd/MM/YYYY"
                  formControlName="DailyRept_VslActivity_Manoeuvring_Arrival_StartDate"
                ></nz-date-picker>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col class="gutter-row paddingAdj" [nzMd]="5" [nzSm]="24">
            <nz-form-item
              ><nz-form-control
                [nzMd]="20"
                [nzSm]="24"
                nzErrorTip=""
                style="padding-left: 22px"
              >
                <nz-time-picker
                  style="width: 100%"
                  [nzUse12Hours]="false"
                  nzFormat="HH:mm"
                  formControlName="DailyRept_VslActivity_Manoeuvring_Arrival_StartTime"
                >
                </nz-time-picker> </nz-form-control
            ></nz-form-item>
          </div>

          <div
            nz-col
            class="gutter-row"
            [nzMd]="7"
            [nzSm]="24"
            style="padding-right: 0px !important"
          >
            <nz-form-item>
              <nz-form-label [nzMd]="13" [nzSm]="24" nzFor="vesselName"
                >End date & time
              </nz-form-label>

              <nz-form-control
                [nzMd]="11"
                [nzSm]="24"
                nzErrorTip=""
                style="padding-left: 12px"
              >
                <nz-date-picker
                  style="width: 100%"
                  nzFormat="dd/MM/YYYY"
                  formControlName="DailyRept_VslActivity_Manoeuvring_Arrival_EndDate"
                >
                </nz-date-picker>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col class="gutter-row paddingAdj" [nzMd]="5" [nzSm]="24">
            <nz-form-item>
              <nz-form-control
                [nzMd]="20"
                [nzSm]="24"
                nzErrorTip=""
                style="padding-left: 22px"
              >
                <nz-time-picker
                  style="width: 100%"
                  [nzUse12Hours]="false"
                  nzFormat="HH:mm"
                  formControlName="DailyRept_VslActivity_Manoeuvring_Arrival_EndTime"
                >
                </nz-time-picker> </nz-form-control
            ></nz-form-item>
          </div>
        </div>
      </nz-card>
    </div>
  </div>
  <nz-divider></nz-divider>

  <!-- voyage detail -->

  <div nz-row [nzGutter]="16">
    <div nz-col class="gutter-row" [nzMd]="24" [nzSm]="24">
      <!-- <h3 style="font-weight: normal; color: #7d7d7d">
          Manoeuvring [Arrival]
        </h3> -->
      <nz-card class="card-box-sm" nzTitle="Voyage Details">
        <div nz-col nzSpan="24" class="chart-title">
          <div nz-row nzGutter="10" nzJustify="space-between">
            <span
              class="card_badge"
              style="
                margin-top: -73px;
                margin-right: -24px;
                background-color: #a6a6a6;
              "
              >Man.
            </span>
          </div>
        </div>
        <div nz-row [nzGutter]="16">
          <div nz-col class="gutter-row" [nzMd]="12" [nzSm]="24">
            <nz-form-item>
              <nz-form-label [nzMd]="8" [nzSm]="24" nzFor="vesselName"
                >Voyage Number</nz-form-label
              >

              <nz-form-control [nzMd]="14" [nzSm]="24" nzErrorTip="">
                <input
                  nz-input
                  type="text"
                  formControlName="DailyRept_ManoeuvringArrival_VoyDetails_VoyNo"
                  placeholder=" Enter Voyage Number"
                  [ngClass]="{
                    customBorder: borderColor == 'true',
                    defaultBorder: borderColor == 'false'
                  }"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col class="gutter-row" [nzMd]="12" [nzSm]="24">
            <nz-form-item>
              <nz-form-label [nzMd]="8" [nzSm]="24" nzFor="vesselName"
                >Distance - Sea [NM]</nz-form-label
              >

              <nz-form-control [nzMd]="14" [nzSm]="24" nzErrorTip="">
                <input
                  nz-input
                  type="text"
                  formControlName="DailyRept_ManoeuvringArrival_VoyDetails_DistOverSea"
                  placeholder=" Enter Distance - Sea [NM]"
                  [ngClass]="{
                    customBorder: borderColor == 'true',
                    defaultBorder: borderColor == 'false'
                  }"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col class="gutter-row" [nzMd]="12" [nzSm]="24">
            <nz-form-item>
              <nz-form-label [nzMd]="8" [nzSm]="24" nzFor="vesselName"
                >Distance - Ground [NM]</nz-form-label
              >

              <nz-form-control [nzMd]="14" [nzSm]="24" nzErrorTip="">
                <input
                  nz-input
                  type="text"
                  formControlName="DailyRept_ManoeuvringArrival_VoyDetails_DistOverGrnd"
                  placeholder=" Enter Distance - Ground [NM]"
                  [ngClass]="{
                    customBorder: borderColor == 'true',
                    defaultBorder: borderColor == 'false'
                  }"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col class="gutter-row" [nzMd]="12" [nzSm]="24">
            <nz-form-item>
              <nz-form-label [nzMd]="8" [nzSm]="24" nzFor="vesselName"
                >Avg. Speed [knots]</nz-form-label
              >

              <nz-form-control [nzMd]="14" [nzSm]="24" nzErrorTip="">
                <input
                  nz-input
                  type="text"
                  formControlName="DailyRept_ManoeuvringArrival_VoyDetails_AvgSpeed"
                  placeholder=" Enter Avg. Speed [knots]"
                  [ngClass]="{
                    customBorder: borderColor == 'true',
                    defaultBorder: borderColor == 'false'
                  }"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </nz-card>
    </div>
  </div>
  <nz-divider></nz-divider>

  <!--Manoeuvring (Weather Info.) -->
  <div nz-row [nzGutter]="16">
    <div nz-col class="gutter-row" [nzMd]="24" [nzSm]="24">
      <nz-card class="card-box-sm" nzTitle="Weather Info.">
        <div nz-col nzSpan="24" class="chart-title">
          <div nz-row nzGutter="10" nzJustify="space-between">
            <span
              class="card_badge"
              style="
                margin-top: -73px;
                margin-right: -24px;
                background-color: #a6a6a6;
              "
              >Man.
            </span>
          </div>
        </div>
        <div nz-row [nzGutter]="16">
          <div nz-col class="gutter-row" [nzMd]="12" [nzSm]="24">
            <nz-form-item>
              <nz-form-label [nzMd]="8" [nzSm]="24" nzFor="vesselName"
                >Sea Water [°C]</nz-form-label
              >

              <nz-form-control [nzMd]="14" [nzSm]="24" nzErrorTip="">
                <input
                  nz-input
                  type="text"
                  formControlName="DailyRept_ManoeuvringArrival_WeatherInfo_SeaWaterTemp"
                  placeholder=" Enter Sea Water [°C]"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col class="gutter-row" [nzMd]="12" [nzSm]="24">
            <nz-form-item>
              <nz-form-label [nzMd]="8" [nzSm]="24" nzFor="vesselName"
                >Engine Room [°C]</nz-form-label
              >

              <nz-form-control [nzMd]="14" [nzSm]="24" nzErrorTip="">
                <input
                  nz-input
                  type="text"
                  formControlName="DailyRept_ManoeuvringArrival_WeatherInfo_ERTemp"
                  placeholder=" Enter Engine Room [°C]"
                  [ngClass]="{
                    customBorder: borderColor == 'true',
                    defaultBorder: borderColor == 'false'
                  }"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col class="gutter-row" [nzMd]="12" [nzSm]="24">
            <nz-form-item>
              <nz-form-label [nzMd]="8" [nzSm]="24" nzFor="vesselName"
                >Outside Temp. [°C]</nz-form-label
              >

              <nz-form-control [nzMd]="14" [nzSm]="24" nzErrorTip="">
                <input
                  nz-input
                  type="text"
                  formControlName="DailyRept_ManoeuvringArrival_WeatherInfo_OutsideTemp"
                  placeholder=" Enter Outside Temp. [°C]"
                  [ngClass]="{
                    customBorder: borderColor == 'true',
                    defaultBorder: borderColor == 'false'
                  }"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col class="gutter-row" [nzMd]="12" [nzSm]="24">
            <nz-form-item>
              <nz-form-label [nzMd]="8" [nzSm]="24" nzFor="vesselName"
                >Outside Humidity [%]</nz-form-label
              >

              <nz-form-control [nzMd]="14" [nzSm]="24" nzErrorTip="">
                <input
                  nz-input
                  type="text"
                  formControlName="DailyRept_ManoeuvringArrival_WeatherInfo_OutsideHumidity"
                  placeholder=" Enter Outside Humidity [%]"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </nz-card>
    </div>
  </div>
  <nz-divider></nz-divider>

  <!--Manoeuvring (Main Engine – Consumption) -->
  <div nz-row [nzGutter]="16">
    <div nz-col class="gutter-row" [nzMd]="24" [nzSm]="24">
      <nz-card class="card-box-sm" nzTitle="Main Engine – Consumption">
        <div nz-col nzSpan="24" class="chart-title">
          <div nz-row nzGutter="10" nzJustify="space-between">
            <span
              class="card_badge"
              style="
                margin-top: -73px;
                margin-right: -24px;
                background-color: #a6a6a6;
              "
              >Man.
            </span>
          </div>
        </div>
        <div nz-row [nzGutter]="16">
          <div nz-col class="gutter-row" [nzMd]="12" [nzSm]="24">
            <nz-form-item>
              <nz-form-label [nzMd]="8" [nzSm]="24" nzFor="vesselName"
                >Main. Eng. 1 [Rhrs]</nz-form-label
              >

              <nz-form-control [nzMd]="14" [nzSm]="24" nzErrorTip="">
                <input
                  nz-input
                  type="text"
                  formControlName="DailyRept_ManoeuvringArrival_MECons_ME1RHRS"
                  placeholder=" Enter Main. Eng. 1 [Rhrs]"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col class="gutter-row" [nzMd]="12" [nzSm]="24">
            <nz-form-item>
              <nz-form-label [nzMd]="8" [nzSm]="24" nzFor="vesselName"
                >Lub. Oil Cons. 1 [Ltrs]</nz-form-label
              >

              <nz-form-control [nzMd]="14" [nzSm]="24" nzErrorTip="">
                <input
                  nz-input
                  type="text"
                  formControlName="DailyRept_ManoeuvringArrival_MECons_LOCons1"
                  placeholder=" Enter Lub. Oil Cons. 1 [Ltrs]"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col class="gutter-row" [nzMd]="12" [nzSm]="24">
            <nz-form-item>
              <nz-form-label [nzMd]="8" [nzSm]="24" nzFor="vesselName"
                >Main. Eng. 2 [Rhrs]</nz-form-label
              >

              <nz-form-control [nzMd]="14" [nzSm]="24" nzErrorTip="">
                <input
                  nz-input
                  type="text"
                  formControlName="DailyRept_ManoeuvringArrival_MECons_ME2RHRS"
                  placeholder=" Enter Main. Eng. 2 [Rhrs]"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col class="gutter-row" [nzMd]="12" [nzSm]="24">
            <nz-form-item>
              <nz-form-label [nzMd]="8" [nzSm]="24" nzFor="vesselName"
                >Lub. Oil Cons. 2 [Ltrs]</nz-form-label
              >

              <nz-form-control [nzMd]="14" [nzSm]="24" nzErrorTip="">
                <input
                  nz-input
                  type="text"
                  formControlName="DailyRept_ManoeuvringArrival_MECons_LOCons2"
                  placeholder=" Enter Lub. Oil Cons. 2 [Ltrs]"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col class="gutter-row" [nzMd]="12" [nzSm]="24">
            <nz-form-item>
              <nz-form-label [nzMd]="8" [nzSm]="24" nzFor="vesselName"
                >Main. Eng. 3 [Rhrs]</nz-form-label
              >

              <nz-form-control [nzMd]="14" [nzSm]="24" nzErrorTip="">
                <input
                  nz-input
                  type="text"
                  formControlName="DailyRept_ManoeuvringArrival_MECons_ME3RHRS"
                  placeholder=" Enter Main. Eng. 3 [Rhrs]"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col class="gutter-row" [nzMd]="12" [nzSm]="24">
            <nz-form-item>
              <nz-form-label [nzMd]="8" [nzSm]="24" nzFor="vesselName"
                >Lub. Oil Cons. 3 [Ltrs]</nz-form-label
              >

              <nz-form-control [nzMd]="14" [nzSm]="24" nzErrorTip="">
                <input
                  nz-input
                  type="text"
                  formControlName="DailyRept_ManoeuvringArrival_MECons_LOCons3"
                  placeholder=" Enter Lub. Oil Cons. 3 [Ltrs]"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col class="gutter-row" [nzMd]="12" [nzSm]="24">
            <nz-form-item>
              <nz-form-label [nzMd]="8" [nzSm]="24" nzFor="vesselName"
                >Main. Eng. 4 [Rhrs]</nz-form-label
              >

              <nz-form-control [nzMd]="14" [nzSm]="24" nzErrorTip="">
                <input
                  nz-input
                  type="text"
                  formControlName="DailyRept_ManoeuvringArrival_MECons_ME4RHRS"
                  placeholder=" Enter Main. Eng. 4 [Rhrs]"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col class="gutter-row" [nzMd]="12" [nzSm]="24">
            <nz-form-item>
              <nz-form-label [nzMd]="8" [nzSm]="24" nzFor="vesselName"
                >Lub. Oil Cons. 4 [Ltrs]</nz-form-label
              >

              <nz-form-control [nzMd]="14" [nzSm]="24" nzErrorTip="">
                <input
                  nz-input
                  type="text"
                  formControlName="DailyRept_ManoeuvringArrival_MECons_LOCons4"
                  placeholder=" Enter Lub. Oil Cons. 4 [Ltrs]"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col class="gutter-row" [nzMd]="12" [nzSm]="24">
            <nz-form-item>
              <nz-form-label [nzMd]="8" [nzSm]="24" nzFor="vesselName"
                >Fuel Cons. [MT]</nz-form-label
              >

              <nz-form-control [nzMd]="14" [nzSm]="24" nzErrorTip="">
                <input
                  nz-input
                  type="text"
                  formControlName="DailyRept_ManoeuvringArrival_MECons_FuelCons"
                  placeholder=" Enter Fuel Cons. [MT]"
                  [ngClass]="{
                    customBorder: borderColor == 'true',
                    defaultBorder: borderColor == 'false'
                  }"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col class="gutter-row" [nzMd]="12" [nzSm]="24">
            <nz-form-item>
              <nz-form-label [nzMd]="8" [nzSm]="24" nzFor="vesselName"
                >Fuel in use</nz-form-label
              >

              <nz-form-control [nzMd]="14" [nzSm]="24" nzErrorTip="">
                <nz-select
                  style="width: 100%"
                  formControlName="DailyRept_ManoeuvringArrival_MECons_Fuelinuse"
                  nzPlaceHolder="Select"
                  [ngClass]="{
                    customBorder: borderColor == 'true',
                    defaultBorder: borderColor == 'false'
                  }"
                >
                  <nz-option
                    *ngFor="let data of allBunkerStockReports"
                    nzValue="{{ data._id }}"
                    nzLabel="{{ data.Fuel_Type }}_{{
                      data.Location_Of_Fuel_Bunkered
                    }}_{{
                      data.Start_Date_Of_Fuel_Bunkered | date: 'dd/MMM/yy'
                    }}"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col class="gutter-row" [nzMd]="24" [nzSm]="24">
            <nz-form-item>
              <nz-form-label [nzMd]="4" [nzSm]="24" nzFor="vesselName">
                Add. Comments
              </nz-form-label>
              <nz-form-control [nzMd]="19" [nzSm]="24">
                <input
                  nz-input
                  formControlName="DailyRept_ManoeuvringArrival_MECons_AddComments"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </nz-card>
    </div>
  </div>
  <nz-divider></nz-divider>
  <!--Manoeuvring  (Aux. Engine - Consumption) -->
  <div nz-row [nzGutter]="16">
    <div nz-col class="gutter-row" [nzMd]="24" [nzSm]="24">
      <nz-card class="card-box-sm" nzTitle="Aux. Engine - Consumption ">
        <div nz-col nzSpan="24" class="chart-title">
          <div nz-row nzGutter="10" nzJustify="space-between">
            <span
              class="card_badge"
              style="
                margin-top: -73px;
                margin-right: -24px;
                background-color: #a6a6a6;
              "
              >Man.
            </span>
          </div>
        </div>
        <div nz-row [nzGutter]="16">
          <div nz-col class="gutter-row" [nzMd]="12" [nzSm]="24">
            <nz-form-item>
              <nz-form-label [nzMd]="8" [nzSm]="24" nzFor="vesselName"
                >Aux. Eng. 1 [Rhrs]</nz-form-label
              >

              <nz-form-control [nzMd]="14" [nzSm]="24" nzErrorTip="">
                <input
                  nz-input
                  type="text"
                  formControlName="DailyRept_ManoeuvringArrival_AECons_AE1RHRS"
                  placeholder=" Enter Aux. Eng. 1 [Rhrs]"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col class="gutter-row" [nzMd]="12" [nzSm]="24">
            <nz-form-item>
              <nz-form-label [nzMd]="8" [nzSm]="24" nzFor="vesselName"
                >Lub. Oil Cons. 1 [Ltrs]</nz-form-label
              >

              <nz-form-control [nzMd]="14" [nzSm]="24" nzErrorTip="">
                <input
                  nz-input
                  type="text"
                  formControlName="DailyRept_ManoeuvringArrival_AECons_LOCons1"
                  placeholder=" Enter Lub. Oil Cons. 1 [Ltrs]"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col class="gutter-row" [nzMd]="12" [nzSm]="24">
            <nz-form-item>
              <nz-form-label [nzMd]="8" [nzSm]="24" nzFor="vesselName"
                >Aux. Eng. 2 [Rhrs]</nz-form-label
              >

              <nz-form-control [nzMd]="14" [nzSm]="24" nzErrorTip="">
                <input
                  nz-input
                  type="text"
                  formControlName="DailyRept_ManoeuvringArrival_AECons_AE2RHRS"
                  placeholder=" Enter Aux. Eng. 2 [Rhrs]"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col class="gutter-row" [nzMd]="12" [nzSm]="24">
            <nz-form-item>
              <nz-form-label [nzMd]="8" [nzSm]="24" nzFor="vesselName"
                >Lub. Oil Cons. 2 [Ltrs]</nz-form-label
              >

              <nz-form-control [nzMd]="14" [nzSm]="24" nzErrorTip="">
                <input
                  nz-input
                  type="text"
                  formControlName="DailyRept_ManoeuvringArrival_AECons_LOCons2"
                  placeholder=" Enter Lub. Oil Cons. 2 [Ltrs]"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col class="gutter-row" [nzMd]="12" [nzSm]="24">
            <nz-form-item>
              <nz-form-label [nzMd]="8" [nzSm]="24" nzFor="vesselName"
                >Aux. Eng. 3 [Rhrs]</nz-form-label
              >

              <nz-form-control [nzMd]="14" [nzSm]="24" nzErrorTip="">
                <input
                  nz-input
                  type="text"
                  formControlName="DailyRept_ManoeuvringArrival_AECons_AE3RHRS"
                  placeholder=" Enter Aux. Eng. 3 [Rhrs]"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col class="gutter-row" [nzMd]="12" [nzSm]="24">
            <nz-form-item>
              <nz-form-label [nzMd]="8" [nzSm]="24" nzFor="vesselName"
                >Lub. Oil Cons. 3 [Ltrs]</nz-form-label
              >

              <nz-form-control [nzMd]="14" [nzSm]="24" nzErrorTip="">
                <input
                  nz-input
                  type="text"
                  formControlName="DailyRept_ManoeuvringArrival_AECons_LOCons3"
                  placeholder=" Enter Lub. Oil Cons. 3 [Ltrs]"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col class="gutter-row" [nzMd]="12" [nzSm]="24">
            <nz-form-item>
              <nz-form-label [nzMd]="8" [nzSm]="24" nzFor="vesselName"
                >Aux. Eng. 4 [Rhrs]</nz-form-label
              >

              <nz-form-control [nzMd]="14" [nzSm]="24" nzErrorTip="">
                <input
                  nz-input
                  type="text"
                  formControlName="DailyRept_ManoeuvringArrival_AECons_AE4RHRS"
                  placeholder=" Enter Aux. Eng. 4 [Rhrs]"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col class="gutter-row" [nzMd]="12" [nzSm]="24">
            <nz-form-item>
              <nz-form-label [nzMd]="8" [nzSm]="24" nzFor="vesselName"
                >Lub. Oil Cons. 4 [Ltrs]</nz-form-label
              >

              <nz-form-control [nzMd]="14" [nzSm]="24" nzErrorTip="">
                <input
                  nz-input
                  type="text"
                  formControlName="DailyRept_ManoeuvringArrival_AECons_LOCons4"
                  placeholder=" Enter Lub. Oil Cons. 4 [Ltrs]"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col class="gutter-row" [nzMd]="12" [nzSm]="24">
            <nz-form-item>
              <nz-form-label [nzMd]="8" [nzSm]="24" nzFor="vesselName"
                >Fuel Cons. [MT]</nz-form-label
              >

              <nz-form-control [nzMd]="14" [nzSm]="24" nzErrorTip="">
                <input
                  nz-input
                  type="text"
                  formControlName="DailyRept_ManoeuvringArrival_AECons_TotalAEFuelCons"
                  placeholder=" Enter Fuel Cons. [MT]"
                  [ngClass]="{
                    customBorder: borderColor == 'true',
                    defaultBorder: borderColor == 'false'
                  }"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col class="gutter-row" [nzMd]="12" [nzSm]="24">
            <nz-form-item>
              <nz-form-label [nzMd]="8" [nzSm]="24" nzFor="vesselName"
                >Fuel in use</nz-form-label
              >

              <nz-form-control [nzMd]="14" [nzSm]="24" nzErrorTip="">
                <nz-select
                  style="width: 100%"
                  formControlName="DailyRept_ManoeuvringArrival_AECons_FuelInUse"
                  nzPlaceHolder="Select"
                  [ngClass]="{
                    customBorder: borderColor == 'true',
                    defaultBorder: borderColor == 'false'
                  }"
                >
                  <nz-option
                    *ngFor="let data of allBunkerStockReports"
                    nzValue="{{ data._id }}"
                    nzLabel="{{ data.Fuel_Type }}_{{
                      data.Location_Of_Fuel_Bunkered
                    }}_{{
                      data.Start_Date_Of_Fuel_Bunkered | date: 'dd/MMM/yy'
                    }}"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <!-- At Manoeuvring Arrival(Aux comments) -->
          <div nz-col class="gutter-row" [nzMd]="24" [nzSm]="24">
            <nz-form-item>
              <nz-form-label [nzMd]="4" [nzSm]="24" nzFor="vesselName">
                Add. Comments
              </nz-form-label>
              <nz-form-control [nzMd]="19" [nzSm]="24">
                <input
                  nz-input
                  formControlName="DailyRept_ManoeuvringArrival_AECons_AddComments"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </nz-card>
    </div>
  </div>
  <nz-divider></nz-divider>

  <!--Manoeuvring  (Miscellaneous – R.O.B )-->
  <div nz-row [nzGutter]="16">
    <div nz-col class="gutter-row" [nzMd]="24" [nzSm]="24">
      <nz-card class="card-box-sm" nzTitle="Miscellaneous – R.O.B">
        <div nz-col nzSpan="24" class="chart-title">
          <div nz-row nzGutter="10" nzJustify="space-between">
            <span
              class="card_badge"
              style="
                margin-top: -73px;
                margin-right: -24px;
                background-color: #a6a6a6;
              "
              >Man.
            </span>
          </div>
        </div>
        <div nz-row [nzGutter]="16">
          <div nz-col class="gutter-row" [nzMd]="12" [nzSm]="24">
            <nz-form-item>
              <nz-form-label [nzMd]="8" [nzSm]="24" nzFor="vesselName"
                >Sludge R.O.B [MT]</nz-form-label
              >

              <nz-form-control [nzMd]="14" [nzSm]="24" nzErrorTip="">
                <input
                  nz-input
                  type="text"
                  formControlName="DailyRept_ManoeuvringArrival_MiscROB_TotalSludgeROB"
                  placeholder=" Enter Sludge R.O.B [MT]"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col class="gutter-row" [nzMd]="12" [nzSm]="24">
            <nz-form-item>
              <nz-form-label [nzMd]="8" [nzSm]="24" nzFor="vesselName"
                >Sludge Landed [MT]</nz-form-label
              >

              <nz-form-control [nzMd]="14" [nzSm]="24" nzErrorTip="">
                <input
                  nz-input
                  type="text"
                  formControlName="DailyRept_ManoeuvringArrival_MiscROB_SludgeLanded"
                  placeholder=" Enter Sludge Landed [MT]"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col class="gutter-row" [nzMd]="12" [nzSm]="24">
            <nz-form-item>
              <nz-form-label [nzMd]="8" [nzSm]="24" nzFor="vesselName"
                >E.R. Bilge R.O.B [MT]</nz-form-label
              >

              <nz-form-control [nzMd]="14" [nzSm]="24" nzErrorTip="">
                <input
                  nz-input
                  type="text"
                  formControlName="DailyRept_ManoeuvringArrival_MiscROB_ERBilgeROB"
                  placeholder=" Enter E.R. Bilge R.O.B [MT]"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col class="gutter-row" [nzMd]="12" [nzSm]="24">
            <nz-form-item>
              <nz-form-label [nzMd]="8" [nzSm]="24" nzFor="vesselName"
                >E.R. Bilge Disch. [MT]</nz-form-label
              >

              <nz-form-control [nzMd]="14" [nzSm]="24" nzErrorTip="">
                <input
                  nz-input
                  type="text"
                  formControlName="DailyRept_ManoeuvringArrival_MiscROB_ERBilgeDischarge"
                  placeholder=" Enter E.R. Bilge Disch. [MT]"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col class="gutter-row" [nzMd]="12" [nzSm]="24">
            <nz-form-item>
              <nz-form-label [nzMd]="8" [nzSm]="24" nzFor="vesselName"
                >M.E. Sys. Oil</nz-form-label
              >

              <nz-form-control [nzMd]="14" [nzSm]="24" nzErrorTip="">
                <input
                  nz-input
                  type="text"
                  formControlName="DailyRept_ManoeuvringArrival_MiscROB_MESYSOil"
                  placeholder=" Enter M.E. Sys. Oil"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col class="gutter-row" [nzMd]="12" [nzSm]="24">
            <nz-form-item>
              <nz-form-label [nzMd]="8" [nzSm]="24" nzFor="vesselName"
                >Fresh Water [MT]</nz-form-label
              >

              <nz-form-control [nzMd]="14" [nzSm]="24" nzErrorTip="">
                <input
                  nz-input
                  type="text"
                  formControlName="DailyRept_ManoeuvringArrival_MiscROB_FreshWaterROB"
                  placeholder=" Enter Fresh Water [MT]"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </nz-card>
    </div>
  </div>
  <nz-divider></nz-divider>

  <!--Manoeuvring  (general comments )-->
  <div nz-row [nzGutter]="16">
    <div nz-col class="gutter-row" [nzMd]="24" [nzSm]="24">
      <nz-card class="card-box-sm" nzTitle="General Comments">
        <div nz-col nzSpan="24" class="chart-title">
          <div nz-row nzGutter="10" nzJustify="space-between">
            <span
              class="card_badge"
              style="
                margin-top: -73px;
                margin-right: -24px;
                background-color: #a6a6a6;
              "
              >Man.
            </span>
          </div>
        </div>
        <div nz-row [nzGutter]="16">
          <div nz-col class="gutter-row" [nzMd]="24" [nzSm]="24">
            <nz-form-item>
              <nz-form-control [nzMd]="23" [nzSm]="24" nzErrorTip="">
                <textarea
                  nz-input
                  formControlName="DailyRept_ManoeuvringArrival_Gen_Comments"
                ></textarea>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </nz-card>
    </div>
  </div>
  <nz-divider></nz-divider>

  <div nz-row nzJustify="end" class="btnAdjust">
    <button
      nz-button
      nzType="primary"
      [nzLoading]="buttonLoading"
      class="btncls"
      style="margin-right: 12px"
      (click)="submit()"
    >
      Save
    </button>

    <a routerLink="/main/machinery-report/daily-report-dashboard"
      ><button nz-button nzType="primary" class="btncls">Back</button></a
    >
  </div>
</form>
