<!-- <div class="topheadingifbutton">
  <h3 class="heading">Home</h3>
</div> -->
<nz-page-header class="site-page-header" nzTitle="Home"> </nz-page-header>

<div nz-row nzGutter="10" class="feedRow001" style="margin-bottom: 20px">
  <!-- <nz-card style="width: calc(20% - 20px)" class="dashboard-card">
    <a routerLink="/main/noon-report">
      <p>
        <img alt="example" src="assets/images/Noon report.png" />
      </p>
      <h4>Noon Report</h4>
      <p>For reporting of voyage, bunker & port information</p></a
    >
  </nz-card> -->
  <div nz-col class="ant-col-grid-5">
    <nz-card class="dashboard-card">
      <a routerLink="/main/machinery-report/dashboard">
        <p>
          <img alt="example" src="assets/images/Engine report.png" />
        </p>
        <h4>Machinery Reporting</h4>
        <p>For reporting of M/E, A/E's and other equipment information</p>
      </a>
    </nz-card>
  </div>
  <div nz-col class="ant-col-grid-5">
    <nz-card class="dashboard-card">
      <a routerLink="/main/bunker-stock-report/dashboard">
        <p>
          <img alt="example" src="assets/images/Bunker stock report.png" />
        </p>
        <h4>Bunker Stock Reporting</h4>
        <p>For reporting of bunker stock & tank information</p></a
      >
    </nz-card>
  </div>
  <div nz-col class="ant-col-grid-5">
    <nz-card class="dashboard-card">
      <a routerLink="/main/performance-report/dashboard">
        <p>
          <img alt="example" src="assets/images/Extraordinary reportv2.png" />
        </p>
        <h4>Performance Reporting</h4>
        <p>For creating an additional or supplementary report</p>
      </a>
    </nz-card>
  </div>
  <!-- <nz-card style="width: calc(20% - 20px)" class="dashboard-card">
    <a routerLink="/main/extraordinary-report">
      <p>
        <img alt="example" src="assets/images/Extraordinary reportv2.png" />
      </p>
      <h4>Extraordinary Report</h4>
      <p>For creating an additional or supplementary report</p></a
    >
  </nz-card>

  <nz-card style="width: calc(20% - 20px)" class="dashboard-card">
    <a routerLink="/main/events-report">
      <p>
        <img alt="example" src="assets/images/Events reportv2.png" />
      </p>
      <h4>Events Report</h4>
      <p>For reporting any additional information or event</p></a
    >
  </nz-card> -->
</div>
